h1 {
	font-family: 'Six Caps', sans-serif;
	font-size: 200px;
	text-align: center;

}
h1:hover {
	color:brown;
}

h2 {
	font-family: 'Six Caps', sans-serif;
	font-size: 65px;
	text-align: center;
	text-decoration: underline;
	margin-top:-5px;
	margin-bottom:0;
	padding-bottom: 0;

}
h2:hover {
	color:white;
}
.ingredients {
	padding-top: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight:lighter;
	line-height: 6px;
	padding-right:30px;

}
.directions {
	padding-top: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight:lighter;
	line-height: 23px;
	padding-left:0;
	padding-right:30px;
}
.Smores img{
	max-width:150px;
	margin-top:65px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top:-50px;
}
.Smores img:hover {
	transition:all 0.7s ease;
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	text-decoration: none;
}
.box1 {
	background-color:brown;
	border: 4px solid black;
	padding: 20px;
	width: 300px;
	height: 300px;
	position:50%;
	margin:auto;
	margin-top: 50px;
	margin-bottom:50px;
	
}
.box2 {
	background-color:brown;
	border: 4px solid black;
	margin: 0 10px 10px 0;
	padding: 20px;
	width: 300px;
	height: 900px;
	margin:auto;