body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#main_content {
	margin: 40px;
}

h1 {
	font-size: 30px;
	margin-bottom: 40px;
}

.box {
	border: 1px solid #ddd;
	margin: 0 10px 10px 0;
	padding: 20px;
	width: 300px;
	height: 300px;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}

a#Spotify {
	display: inline-block;
	height: 50px;
	box-sizing: border-box;
	border-radius: 25px;
	margin: auto;
	margin-top: 100px;
	padding: 10px 40px 0 40px;
	background-color: #2ebd59;
	border: 2px solid #2ebd59;
	color: #fff;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#Spotify:hover {
	background-color: #fff;
	border: 2px solid #000;
	color: #000;
}


a#Twitter {
	display: inline-block;
	height: 40px;
	box-sizing: border-box;
	border-radius: 4px;
	margin: auto;
	margin-top: 105px;
	padding: 10px 30px 0 30px;
	background-color: #56cdf1;
	color: #fff;
	font-size: 18px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#Twitter:hover {
	background: #2ebfec; /
	background: -moz-linear-gradient(top,  #2ebfec 0%, #28a5cb 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ebfec), color-stop(100%,#28a5cb));
	background: -webkit-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); 
	background: -o-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%);
	background: -ms-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); 
	background: linear-gradient(to bottom,  #2ebfec 0%,#28a5cb 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=0 ); /* IE6-9 */
}

a#Amazon {
	display: block;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 50px;
	margin: auto;
	margin-top: 75px;
	padding-top: 8px;
	background-color: #232f3e;
	color: #fff;
	text-align: center;
	font-size: 60px;
}

a#Amazon:hover {
	background-color: #fc9a18;
}

a#Indiegogo {
	display: inline-block;
	margin:auto;
	margin-top: 100px;
	padding: 8px 16px;
	background-color: #fff;
	color: #eb1478;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -2px;
}

a#Indiegogo:hover {
	color: #fff;
	background-color: #eb1478;
}
a#Coca-Cola {
	width:120px;
	height:120px;
	background-color:red;
	display:inline-block;
	border-radius:50%;
	margin-top:60px;
}
a#Coca-Cola:hover {
	width:120px;
	height:120px;
	background-color:black;
	display:inline-block;
	border-radius:50%;
	margin-top:60px;
	
}
a#Coca-Cola img {
	max-width:100px;
	display: inline-block;
	margin-top:10px;
}

a#Apple {
	width:120px;
	height:120px;
	background-color:black;
	display:inline-block;
	border-radius:50%;
	margin-top:60px;
}
a#Apple:hover {
	width:120px;
	height:120px;
	background-color:gray;
	display:inline-block;
	border-radius:50%;
	margin-top:60px;
}

a#Apple img {
	max-width:60px;
	display: inline-block;
	margin-top:20px;
}

a#IBM {
	width:120px;
	height:100px;
	background-color:#BED9F7;
	border:2px solid #2262AB;
	display:inline-block;
	margin-top:75px;
}
a#IBM:hover {
	width:120px;
	height:100px;
	background-color:white;
	border:2px solid #2262AB;
	display:inline-block;
	margin-top:75px;
}

a#IBM img {
	max-width:100px;
	display: inline-block;
	margin-top:30px;
}
a#Harley-Davidson {
	font-family:'Yanone Kaffeesatz', sans-serif;
	color:white;
	text-decoration: none;
	font-size: 35px;
	width:200px;
	height:200px;
	display:inline-block;
	position:center;
	margin-top:25px;
}
a#Harley-Davidson:hover {
	color:white;
	text-decoration: none;
	font-size: 35px;
	width:200px;
	height:200px;
	background-color:#EA8908;
	position:center;
	display:inline-block;
	margin-top:25px;
}
a#Harley-Davidson img {
	max-width:200px;
	display: inline-block;
	margin-top:26px;
}
a#Michael-Kors {
	width:250px;
	height:50px;
	background-color:black;
	display:inline-block;
	border-radius:5px;
	margin-top:100px;
}
a#Michael-Kors:hover {
	width:250px;
	height:50px;
	background-color:gold;
	display:inline-block;
	border-radius:5px;
	margin-top:100px;
	
}
a#Michael-Kors img {
	max-width:200px;
	display: inline-block;
	margin-top:16px;
}

a#Tucker-Allen {
	font-size: 32px;
	display: inline-block;
	font-family: serif;
	text-decoration: none;
	color: black;
	margin-top: 100px;
	letter-spacing: -1px;
	padding: 10px;
	border: 2px solid black;

}
a#Tucker-Allen:hover {
	font-size: 32px;
	display: inline-block;
	font-family: serif;
	text-decoration: none;
	color: white;
	background-color: black;
	margin-top: 100px;
	letter-spacing: -1px;
	padding: 10px;
	
}
a#Mollyjogger {
	font-size: 32px;
	display: inline-block;
	font-family: 'Pacifico', cursive;
	text-decoration: none;
	color: #416A04;
	margin-top: 90px;
	letter-spacing: 1px;
	border-radius: 10px;
	padding: 0 20px 10px 20px;
	border: 2px solid #416A04;
	background-color:white;

}
a#Mollyjogger:hover {
	font-size: 32px;
	display: inline-block;
	font-family: 'Pacifico', cursive;
	text-decoration: none;
	color: white;
	margin-top: 90px;
	letter-spacing: 1px;
	border-radius: 10px;
	padding: 0 20px 10px 20px;
	border: 2px solid #416A04;
	background-color:#416A04;
	
}
a#Exploding-Kittens {
	font-size: 28px;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	text-decoration: none;
	color: white;
	margin-top: 100px;
	letter-spacing: -1px;
	padding: 10px 20px 10px 20px;
	background-color:#951038;

}
a#Exploding-Kittens:hover {
	font-size: 28px;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-weight:700;
	text-decoration: none;
	color: yellow;
	margin-top: 100px;
	letter-spacing: -1px;
	padding: 10px 20px 10px 20px;
	background-color:#951038;
	
}
a#OFA {
	font-size: 40px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-weight:1000;
	text-decoration: none;
	color: white;
	margin-top: 80px;
	letter-spacing: -1px;
	padding: 20px 20px 20px 20px;
	background-color:#45CDFE;

}
a#OFA:hover {
	font-size: 40px;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-weight:1000;
	text-decoration: none;
	color: #45CDFE;
	margin-top: 80px;
	letter-spacing: -1px;
	padding: 20px 20px 20px 20px;
	background-color:white;
}

a#Nike {
	width:120px;
	height:120px;
	background-color:black;
	display:inline-block;
	border-radius:50%;
	margin-top:60px;
}
a#Nike:hover {
	width:120px;
	height:120px;
	background-color:gray;
	display:inline-block;
	border-radius:50%;
	margin-top:60px;
}

a#Nike img {
	max-width:90px;
	display: inline-block;
	margin-top:40px;
	margin-left:5px;
}
a#Old-Navy {
	font-size: 32px;
	display: inline-block;
	font-family:"Roboto Condensed";
	text-decoration: none;
	color: white;
	margin-top: 90px;
	letter-spacing: 1px;
	border-radius: 50%;
	padding:20px;
	border: 2px solid navy;
	background-color:navy;

}
a#Old-Navy:hover {
	font-size: 20px;
	display: inline-block;
	font-family:"Roboto Condensed";
	text-decoration: none;
	color: navy;
	margin-top: 90px;
	letter-spacing: 1px;
	border-radius: 50%;
	padding: 20px;
	border: 2px solid navy;
	background-color:white;
}
a#Facebook {
	width:100px;
	height:100px;
	background-color:#4754FE;
	border:2px solid #4754FE;
	border-radius: 10px;
	display:inline-block;
	margin-top:55px;
}
a#Facebook:hover {
	width:100px;
	height:100px;
	background-color:black;
	border:2px solid black;
	border-radius:10px;
	display:inline-block;
	margin-top:55px;
}

a#Facebook img {
	max-width:200px;
	padding:0;
	display: inline-block;
	margin-left:-57px;
	margin-top:7px;
}
a#Tesla {
	width:120px;
	height:50px;
	background-color:black;
	border:2px solid black;
	display:inline-block;
	margin-top:100px;
}
a#Tesla:hover {
	width:120px;
	height:50px;
	background-color:white;
	border:2px solid gray;
	display:inline-block;
	margin-top:100px;
}

a#Tesla img {
	max-width:100px;
	display: inline-block;
	margin-top:20px;
}
a#Instagram img{
	max-width:100px;
	margin-top:65px;
}
a#Instagram img:hover {
	transition:all 0.7s ease;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	text-decoration: none;
}
a#Sardellas {
	display: inline-block;
	margin:auto;
	margin-top: 80px;
	background-color: #8CFBFB;
	padding:10px;
	color: blue;
	font-size: 60px;
	text-decoration: none;
	font-family: 'Teko', sans-serif;
	font-kerning: -2px
	border-radius: 20px
}
a#Sardellas:hover{
	transition:all 0.7s ease;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	text-decoration: none;
}
a#Lyft {
	width:120px;
	height:120px;
	background-color:#FE19AA;
	display:inline-block;
	margin-top:60px;
}
a#Lyft:hover {
	transition:all 0.5s ease;
    border-radius:50%;
   }
a#Lyft img {
	max-width: 100px;
	margin-top:29px;
}
a#Pottermore {
	width:120px;
	height:50px;
	background-color:maroon;
	border:2px solid maroon;
	border-radius:20px;
	display:inline-block;
	margin-top:100px;
}
a#Pottermore:hover{
	-webkit-transform: rotate(-45deg) scale(0.75);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg) scale(0.75);
}
a#Pottermore img {
	max-width:100px;
	display: inline-block;
	margin-top:10px;

}
a#Samsung{
	display: block;
	margin-left: 40px;
	margin-top: 90px;
	width: 180px;
	height: 130px;
	-webkit-filter: blur(3px);
}

a#Samsung:hover{
	-webkit-filter: blur(0px);
	transition-duration: 0.5s;
}

a#The-New-Yorker {
	-webkit-filter: blur(0px);
	margin-top:50px;
}
a#The-New-Yorker:hover{
	-webkit-filter: blur(3px);
	transition: 0.5s;
}
a#The-New-Yorker img{
	max-width: 200px;
	margin-top:90px;
}
a#Electra {
	width:200px;
	height:59px;
	display:inline-block;
	margin-top:90px;
}
a#Electra img{
	max-width: 200px;
	margin-top:0px;
	display:inline-block;
}
a#Electra:hover{
	border:3px dotted navy;
	display: inline-block;
}

a#FitBit {
	padding: 20px;
	background-color:#C5F9F5;
	display:inline-block;
	margin-top:85px;
}
a#FitBit:hover {
	padding:20px;
	background-color:white;
	display:inline-block;
	margin-top:85px;
	box-shadow:
        1px 1px #C5F9F5,
                2px 2px #C5F9F5,
                3px 3px #C5F9F5;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

a#FitBit img {
	max-width:100px;
	display: inline-block;
	margin-top:5px;
}
a#The-Color-Run {
	font-size: 32px;
	display: inline-block;
	font-family: roboto;
	text-decoration: none;
	color: black;
	margin-top: 100px;
	letter-spacing: -1px;
	padding: 10px;
	border: 2px solid black;

}
a#The-Color-Run:hover {
	font-size: 32px;
	display: inline-block;
	font-family: roboto;
	text-decoration: none;
	color: yellow;
	background-color: #FE01E5;
	margin-top: 100px;
	letter-spacing: -1px;
	padding: 10px;
}
a#Craigslist {
	font-family: serif;
	text-decoration: none;
	font-size:30px;
	margin-top:100px;
	display: inline-block;
}
a#Craigslist:hover {
	font-family: serif;
	text-decoration:underline;
	font-style:italic;
	font-size:30px;
	margin-top:100px;
	display: inline-block;

}
a#Moo {
	padding:20px;
	background-color:white;
	display:inline-block;
	margin-top:60px;
}
a#Moo:hover {
	box-shadow: inset 0 0 0 10px green;
}
a#Moo img {
	max-width: 100px;
	margin-top:10px;
}
a#HSN {
	padding:20px;
	color:white;
	font-size:55px;
	font-weight:bold;
	background-color:#158DE9;
	border:4px solid #158DE9;
	border-radius:50%;
	display:inline-block;
	margin-top:60px;
	text-decoration: none;
}
a#HSN:hover {
	padding:20px;
	color:#158DE9;
	font-size:55px;
	font-weight:bold;
	background-color:white;
	border:4px solid #158DE9;
	display:inline-block;
	border-radius:50%;
	margin-top:60px;
	text-decoration: none;
   }

