html{background-color: powderblue}

h1 {
	font-size: 15em;
	font-family:courier;
	color: navy;
	text-shadow: 3em;
	background-color: powderblue

}
h2 {
	font size: 15em;
	color: navy;
	font-variant: small-caps;
}
	
body {
	background-image: url("https://www.iconsdb.com/icons/preview/tropical-blue/alarm-clock-2-xxl.png");
	background-position: right top;
	font-size: 1em;
	font-family: courier;
	color: navy;
}
