html{background-color: lightsteelblue}

h1 {
	font-size: 15em;
	font-family:courier;
	color: white;
	text-shadow: 3em;
	background-image: url("https://static1.squarespace.com/static/53040d4be4b0c23125962cfa/53041057e4b035d468df27f8/59c2b9dcbce1762bb537755e/1505933790425/worldClocks.png?format=1500w");

}
h2 {
	font size: 15em;
	color: navy;
	font-variant: small-caps;
}
	
body {
	background-color: lightsteelblue;
		opacity: 40%;
	background-position: right top;
	font-size: 1em;
	font-family: courier;
	color: black;
}
