html{background-color: lightsteelblue}

h1 {
	font-size: 15em;
	font-family:courier;
	color: white;
	text-shadow: 3em;
	background-color: lightsteelblue

}
h2 {
	font size: 15em;
	color: navy;
	font-variant: small-caps;
}
	
body {
	background-image: url("https://cdn2.iconfinder.com/data/icons/color-svg-cloud-icons/512/cloud_time-512.png");
		opacity: 40%;
	background-position: right top;
	font-size: 1em;
	font-family: courier;
	color: black;
}
